<p>
  <h1>View All Locations</h1>

  <%= link_to 'View Locations Page', locations_path %>
  <% @locations.each do |current_location| %>
    <%= render '/locations/single_location', location: current_location, show_title: true%>
  <% end %>

</p>

<p>
  <h1>View All Events</h1>

  <%= link_to 'View Events Page', events_path %>
  <% @events.each do |event| %>
    <%= render '/events/single_event', event: event %>
  <% end %>
</p>
